# Logs
logs
*.log

# Dependency directories
node_modules/

# Built output
dist/
build/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Cache and temporary files
.npm
.pnpm
.yarn

# Testing files
coverage/
